---
Checks:                '-*,clang-diagnostic-*,clang-analyzer-*,modernize*'
WarningsAsErrors:      ''
HeaderFileExtensions:         ['', 'h','hh','hpp','hxx']
ImplementationFileExtensions: ['c','cc','cpp','cxx']
HeaderFilterRegex:     '.*'
InheritParentConfig:   true
User:                  user
SystemHeaders:         true
UseColor:              true
FormatStyle:           none
CheckOptions:
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
...

