---
Checks:                '-*,clang-analyzer-*,-clang-analyzer-cplusplus*,-clang-analyzer-osx*,-clang-analyzer-core*'
WarningsAsErrors:      ''
HeaderFileExtensions:         ['', 'h','hh','hpp','hxx']
ImplementationFileExtensions: ['c','cc','cpp','cxx']
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '(asm/(bitsperlong|errno|param|simd|types)\.h|assert\.h|linux/param\.h)'
InheritParentConfig:   true
User:                  user
SystemHeaders:         false
UseColor:              true
FormatStyle:           none
CheckOptions:
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
ExtraArgs:
  - -D__KERNEL__
  - -DKBUILD_STR(s)=#s
  - -Wno-implicit-function-declaration
  - -Wno-int-conversion
  - -Wno-unused-value
  - -Wno-format-security
  - -Wno-invalid-token-paste
  - -fno-ms-extensions
  - -fno-builtin
  - -Wno-unknown-attributes
  - -Wno-missing-prototypes
...
