CompileFlags:
  Remove: -fabi*
Diagnostics:
  ClangTidy:
    FastCheckFilter: Strict
  # Available in clangd-14
  UnusedIncludes: Strict
  # Require clangd-17
  MissingIncludes: Strict
Completion: 
  AllScopes: Yes 
  ArgumentLists: FullPlaceholders 
  HeaderInsertion: IWYU 
  CodePatterns: All
# ... Prior fragments --- 
If: # Apply this config conditionally 
  PathMatch: [.*\.h, .*\.c] # to all headers OR c files 
  PathExclude: internal/.* # except all files within "internal" 
CompileFlags: 
  Add: [-DEXTERNAL] 
--- # ... Further fragments